<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:mainProp.properties"/>

    <bean id="workBean"
          class="ru.belous.AutoVolume.TonerWorker"
          scope="prototype"
          factory-method="getTonerWorker"
    init-method="doMyInit"
    destroy-method="doDestroy">
    </bean>

    <!--<bean id = "workerBean"
    class="ru.belous.AutoVolume.Worker" scope="prototype">
        <property name="work" ref="workBean"/>
        <property name="name" value="${toner.name}"/>
        <property name="age" value="${toner.age}"/>

    </bean>-->
</beans>